- content_for :javascript do
  = javascript_pack_tag 'tasks'

%h1= @task_set.title

= react_component('TaskRoot', tasks: @task_set.tasks.map {|task| { title: task.title } })

%p
  = form_with model: @task_set.tasks.new, local: true do |f|
    = f.hidden_field :task_set_id
    = f.label :title
    = f.text_field :title
    = f.submit 'Add new task'

%p
  = link_to 'Back', root_path

%p
  = link_to 'Delete', task_set_path(@task_set), method: :delete
